body {
    padding-bottom: 40px;
}
.dropdown .nav-item :hover{
    color:#16181b!important;
}
.navbar-right{
    float:right;
}
.divProducts{
    width:20%;
    min-width:350px;
}
#divPagination{
    clear:both;
}
.card-title{
    cursor:pointer;
    text-decoration:underline;
}
#divDescProduit img{
    width:15%;
    min-width:160px;
}
#divContent{
    margin:10px;
}
#tableAdmin tbody tr:hover{
    cursor:pointer;
}
#tableAdmin thead tr th:last-child{
    border-top-right-radius:.25rem;
    min-width:80px;
}
#tableAdmin tbody tr td:first-child{
    width:100px;
}
#tableAdmin tbody tr td:first-child img{
    width:70px
}